
<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="toggle_sidenav()">
      <mat-icon>menu</mat-icon>
    </button>

    <span>{{title}}</span>
    <span class="example-spacer"></span>

    <div class="example-spacer search-bar">
        <div class="icon-cnt">
            <mat-icon >search</mat-icon>
        </div>
        <div>
            <input  type="text" placeholder="Search">
        </div>
    </div>
   
    <span class="example-spacer"></span>

    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>rotate_right</mat-icon>
    </button>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>view_stream</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>grid_on</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>account_circle</mat-icon>
    </button>
  </mat-toolbar>

  