
<div class="note-cnt">
    <div *ngIf="inputExpnToggle" class="take-note">
        <button class="input-btn" (click)="expandInput()">
            <input #takeNote class="take-note-input" type="text" placeholder="Take a note..." value={{desc}}>
        </button>
        <button (click)="addNote(takeNote.value)">
            <mat-icon>check_box</mat-icon>
        </button>
        <mat-icon>brush</mat-icon>          
        <mat-icon>image_none</mat-icon>
    </div>
    <div *ngIf="!inputExpnToggle" class="exp-take-note">
        <input class="take-note-input" type="text" placeholder="Title">
        <textarea name="input" id="" placeholder="Take a note..." autofocus></textarea>

        <div class="btn-cnt">
            <button><mat-icon>image</mat-icon></button>
            <button><mat-icon>archive</mat-icon></button>
            <button><mat-icon>more_vert</mat-icon></button>
            <button><mat-icon>undo</mat-icon></button>
            <button><mat-icon>redo-outline</mat-icon></button>
            <button (click)="expandInput()"><mat-icon>close</mat-icon></button>
        </div>
    </div>
</div>

<div class="note-cards">
    <div class="singleCard" *ngFor="let note  of noteList | searchNote: keyWordNote">
        <!-- <div *ngIf="note | searchNote: keyWordNote "> -->
            <p>
                {{ note.title }}  <br>
                {{note.description }}
            </p>
        <!-- </div> -->
    </div>

</div>