

<div class="sidebar-cnt">
    <div class="gap">
        <mat-icon>lightbulb_outline</mat-icon>
        <span *ngIf="buttonClicked">Notes</span>
      </div>
      <div class="gap">
        <mat-icon>notifications_none</mat-icon>
        <span *ngIf="buttonClicked">Reminders</span>
      </div>
      <div class="gap">
        <mat-icon>label_outline</mat-icon>
        <span *ngIf="buttonClicked">Labels</span>
      </div>
      <div class="gap">
        <mat-icon>edit</mat-icon>
        <span *ngIf="buttonClicked">Edit Label</span>
      </div>
      <div class="gap">
        <mat-icon>archive</mat-icon>
        <span *ngIf="buttonClicked">Archive</span>
      </div>
      <div class="gap">
        <mat-icon>delete_outline</mat-icon>
        <span *ngIf="buttonClicked">Trash</span>
    </div>
</div>