
.sidebar-cnt {
  display: inline-flex;
  flex-direction: column;  
}

.gap {
    margin-left: 0;
    border-radius: 0 5em 5em 0 ;
    padding: 1.5em 2em;
    display: inline-flex;
    // background: gray;
  }   
  .gap:hover {
    background: rgba(250, 223, 105, 0.523);
  }
  .gap span {
    
    display: inline;
    margin: 3px 0 0 30px;

    width: 10em;
    font-size: 16px;
}


.example-container {
    width: 500px;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  }
  