* {
    background: rgb(226, 242, 226);
}

.container {
    display: inline-flex;
    margin-left: 9%;
    margin-top: 5%;
    width: 80%;
    height: 60%;
    background: white;
    border-radius: 4em;
    padding: 2em;
}